
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  padding: 1.5em 1em;
  background-color: #F8F9F9;
  z-index: 100;
  .leftPart{
    a {
      opacity: .3;
      img{
        width: 15%;
        height: 15%;
      }
      &:hover{
        opacity: .5;
      }
    }
  }
  .rightPart{
    .button-row button {
      margin-right: 8px;
      border-radius: .4em;
      color: #fff;
      font-weight: bold;
      &:first-child{
        background: #E2E4E6;
      }
      &:last-child{
        padding: 0 1.5em;
        background: #5AAC44;
      }
    }
  }
}
main{
  padding: 5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainContent  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    span {
      height: 80px;
      margin-bottom: 2em;
      img{
        width: 100%;
      }
    }
    h1{
      strong{
        font-family: 'Muli', sans-serif;
        font-weight: 700;
      }
      text-align: center;
      font-weight: 600;
      color: #4d4d4d;
      font-family: 'Muli', sans-serif;
    }
    button{
      background: #5AAC44 ;
      border-radius: .4em;
      color: #fff;
      font-weight: bold;
      padding: 1em 6em;
      font-size: 1em;
      border: 0;
      box-shadow: 0 1px 0 #A5ACB0;
      cursor: pointer;
      display: inline-block;
      line-height: 1.2;
      outline: 0;
      opacity: 0.85;
      &:hover{
        opacity: 1;
      }
    }
  }
}
article{
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0079BF;
  color: #fff;
  .articleContent{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      max-width: 620px;
      margin: 1em 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      font-family: 'Muli', sans-serif;
    }
    span{
      img{
        width: 100%;
      }
    }
  }

}
footer{
  p{
    img{
      width: 8%;
      height: 10%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #4d4d4d;
    font-family: 'Muli', sans-serif;
  }
}