<header>
  <div class="leftPart" >
      <a [routerLink]="['/title']">
          <img src="../../assets/img/trello-logo-black.svg" alt="Trello Logo">
      </a>
  </div>
  <div class="rightPart">
      <div class="button-row">
          <button mat-raised-button  [routerLink]="['/login']">Войти</button>
          <button mat-raised-button >Зарегистрироваться</button>
      </div>
  </div>
</header>
<main>
    <div class="mainContent">
         <span>
             <img src="../../assets/img/header-logo-blue.svg" alt="Trello Logo">
         </span>
         <h1><strong>Trello</strong> - это бесплатный, гибкий и наглядный способ организовать что угодно с кем угодно.</h1>
        <button mat-raised-button  class="mainButtonRegistration">Зарегистрироваться – Это бесплатно</button>
    </div>
</main>
<article>
    <div class="articleContent">
        <p> Это доска Trello. Это перечень списков, заполненных карточками, используемыми
            вашей командой или непосредственно вами.
        </p>
        <span>
                 <img src="../../assets/img/trello-board.jpg" alt="Trello Board">
        </span>
        <p> Перетаскивайте карточки между списками, чтобы показать прогресс.
            Добавляйте столько людей, сколько вам надо, и перетаскивайте их на карточки.
            Добавляйте или меняйте местами списки как вам надо.
            <strong> Trello
                адаптируется к вашим проектам, команде и рабочему процессу.
            </strong>
        </p>
        <p> Вы увидите все о вашем проекте просто взглянув на
            доску, и все обновления происходят в реальном времени. Тут нечего настраивать
            и все происходит мгновенно.
        </p>
    </div>
</article>
<footer>
    <p>
        <img src="../../assets/img/header-logo-blue.svg" alt="Trello Logo">
        &nbsp;© 2018. Trello Task Manager | Velnychuk Yura/Kolotylo Mykola</p>
</footer>
