<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>trello</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1 id="board-title" th:text="${board.getTitle()}">Board Name</h1>
<p id="board-description" th:text="${board.getDescription()}">Board Description</p>
<button id="inviteBoardBtn">보드 초대</button>
<button id="grantBoardManagerBtn">권한 부여</button>
<button id="addDeckBtn">덱 추가</button>
<button id="editBoardBtn">보드 수정</button>
<button id="deleteBoardBtn">보드 삭제</button>
<div id="board">
  <div class="deck" draggable="true" data-id="1"
       th:data-id="${items.getDeck().getId()}" th:each="items : ${board.getBoardItems()}">
    <div class="deck-header">
      <div class="deck-menu">
        <button class="editBtn">수정</button>
        <button class="deleteBtn">삭제</button>
      </div>
      <h2 th:text="${items.getDeck().getTitle()}">Deck 1</h2>
    </div>
    <ul class="card-list">
      <li class="draggable" draggable="true" data-id="1"
          th:data-id="${cards.getId()}" th:each="cards : ${items.getCards()}">
        <div class="el" th:text="${cards.getTitle()}">HTML</div>
      </li>
    </ul>
    <button class="addCardBtn bottom-button-design">Add Card</button>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div>
      <span class="close-btn">&times;</span>
      <button id="card-edit-btn">수정</button>
      <button id="card-delete-btn">삭제</button>
    </div>
    <h3>제목</h3>
    <h2 id="modal-title">Card Title</h2>
    <h3>설명</h3>
    <p id="modal-description">Card Description</p>
    <h3>댓글</h3>
    <ul id="comment-list">
      <!-- Comments will be appended here -->
    </ul>
    <textarea id="new-comment" placeholder="Add a comment"></textarea>
    <button id="add-comment-btn" class="bottom-button-design">Add Comment</button>
  </div>
</div>

<div id="editBoardModal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <h2>Edit Board</h2>
    <label for="board-name-input">Board Name</label>
    <input type="text" id="board-name-input" th:text="${board.getTitle()}">
    <label for="board-description-input">Board Description</label>
    <textarea id="board-description-input" th:text="${board.getDescription()}">Board Description</textarea>
    <button id="save-board-btn" class="bottom-button-design">Save</button>
  </div>
</div>

<script th:src="@{/js/detail.js}"></script>
<script>
  const urlPath = window.location.pathname;
  const boardId = urlPath.substring(urlPath.lastIndexOf('/') + 1, urlPath.length);

  $('#save-board-btn').on('click', function () {
    const title = $('#board-name-input').val();
    const description = $('#board-description-input').val();

    const data = {
      title: title,
      description: description
    };
    console.log(data);

    $.ajax({
      type: 'put',
      url: '/boards/' + boardId,
      data: JSON.stringify(data),
      contentType: "application/json;charset=utf-8"
    })
    .done(function(result, status, xhr) {
      location.replace(location.href);
    })
    .fail(function(xhr, status, er) {
      alert("보드 수정 실패");
    });
  });

  $('#inviteBoardBtn').on('click', function () {
    const newMember = prompt("초대할 사용자 아이디");

    const data = {
      username: newMember
    }

    if (newMember) {
      $.ajax({
        type: 'post',
        url: '/boards/' + boardId + '/invitation',
        data: JSON.stringify(data),
        contentType: "application/json;charset=utf-8"
      })
      .done(function(result, status, xhr) {
        alert("초대 성공");
      })
      .fail(function(xhr, status, er) {
        alert("초대 실패");
      });
    }
  });

  $('#grantBoardManagerBtn').on('click', function () {
    const newMember = prompt("매니저 권한을 줄 사용자 아이디");

    const data = {
      username: newMember,
      boardId: boardId
    }

    if (newMember) {
      $.ajax({
        type: 'put',
        url: '/users/role',
        data: JSON.stringify(data),
        contentType: "application/json;charset=utf-8"
      })
      .done(function(result, status, xhr) {
        alert("권한 부여 성공");
      })
      .fail(function(xhr, status, er) {
        alert("권한 부여 실패");
      });
    }
  });
</script>
</body>
</html>