<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>trello</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<div class="middle-container">
  <div class="auth-form">
    <h2>Login</h2>
    <form id="authForm">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="button" id="btnLogin">Login</button>
      <button type="button" id="btnSignup" onclick="location.href='/users/signup'">Sign Up</button>
    </form>
  </div>
</div>

<script>
  $('#btnLogin').on('click', function () {
    const username = $('#username').val();
    const password = $('#password').val();

    const data = {
      username: username,
      password: password
    };
    console.log(data);

    $.ajax({
      type: 'post',
      url: '/api/users/login',
      data: JSON.stringify(data),
      contentType: "application/json;charset=utf-8"
    })
    .done(function(result, status, xhr) {
      location.replace("/");
    })
    .fail(function(xhr, status, er) {
      alert("로그인 실패");
    });
  });
</script>

</body>
</html>